# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Mac OS
.DS_Store

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# editor
.vscode
**/.idea/
**/scratch/
*.swp
.vim/

# Dataset
data/
ePill**/
dataset/**
**/synthetic/**
**/labels/**

# Checkpoints
**/checkpoints/**

# Images
*.jpg
*.jpeg
*.png

# local_example
examples/
